{% extends "base.html" %}

{% block content%}
<div class="container-fluid">
    <main>
      <div class="container-fluid px-4 mb-5 text-center ">
          <div class="m-2 h4 pb-2 mb-4 text-success border-bottom border-success">
              <h4>CONTACTANOS</h4>
            </div>
          <div class="row gap-4 gx-4 gx-lg-5 m-3 justify-content-center">
            <div class="col-5 m-5">
              <ul>
                <i class="bi bi-envelope-at-fill p-2" style="font-size: 1.5rem;"></i>
                <a href="">ventas@iluminacionleds.com</a>
              </ul>
              <ul>
                <i class="bi bi-cursor-fill p-2" style="font-size: 1.5rem;"></i>
               <a href="https://www.google.com/maps/place/CUDI.+Centro+Universitario+de+la+Innovaci%C3%B3n.+Gonz%C3%A1lez+Cat%C3%A1n/@-34.7915997,-58.631251,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcc5925425fb9b:0xb6680e29203b8739!8m2!3d-34.7916041!4d-58.6286761!16s%2Fg%2F11p3f49zt8?hl=es&entry=ttu">Mariano Acosta 6420, B1758 González Catán, Provincia de Buenos Aires</a>
              </ul>
              <ul>
                <i class="bi bi-whatsapp p-2" style="font-size: 1.5rem;"></i>
                <a href="">+54 9 11 31461976</a>
              </ul>
              <ul>
                <i class="bi bi-telephone-plus-fill p-2" style="font-size: 1.5rem;"></i>
                <a href="">02202-406309</a>
              </ul>
            </div>
            <div class="col-5 p-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.569968340701!2d-58.631245660754566!3d-34.79159966755614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc5925425fb9b%3A0xb6680e29203b8739!2sCUDI.%20Centro%20Universitario%20de%20la%20Innovaci%C3%B3n.%20Gonz%C3%A1lez%20Cat%C3%A1n!5e0!3m2!1ses!2sar!4v1715220674977!5m2!1ses!2sar" 
              width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
  </main>
</div>   

{% endblock %}