{% extends "base.html" %}

{% block content %}
    <!--Productos-->
    <div class="row">
      <section class="text-center mb-5" id="">
        <h3 class="display-6">Productos</h3>
        <div class="row gap-4 gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0001.jpeg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Lámpara LED ECO 12 W 3000 K cálida</h5>
                  <span>$500</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0002.jpeg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Lámpara LED 20W E27 luz fría</h5>
                  <span>$1500</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0003.jpeg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Panel led cuadrado luz fria 6 W</h5>
                  <span>$900</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0004.jpg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Reflector LED SMD 10 W</h5>
                  <span>$2000</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0005.jpeg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Lámpara Solar Gadnic Dlds12 Para Exterior</h5>
                  <span>$2500</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0006.jpg') }}" alt="">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Listón LED T5 18W conectable</h5>
                  <span>$900</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0007.jpg') }}" width="500" height="500" alt="">
              <div class="card-body p-4">
                <div class="text-center m-5">
                  <h5 class="fw-bolder">Listón Slim 18 W luz día</h5>
                  <span>$1600</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0008.jpeg') }}" width="500" height="500" alt="">
              <div class="card-body p-4">
                <div class="text-center m-5">
                  <h5 class="fw-bolder">Tira LED Smart WiFi 4.25 W RGBW</h5>
                  <span>$3500</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="{{ url_for('static', filename='img/productos/0009.jpeg') }}" width="500" height="500" alt="">
              <div class="card-body p-4">
                <div class="text-center m-5">
                  <h5 class="fw-bolder">Aro De Luz Led 26 Cm Con Trípode 2 Metros</h5>
                  <span>$4000</span>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 br-transparent">
                <div class="text-center">
                  <a href="" class="btn btn-outline-success mt-auto">
                    Añadir al carrito
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}